/* Global view aka desktop view */

body {
    margin:0px;
}

.container {
    background-color: rgb(142, 253, 207);
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* h1 {
    color: limegreen;
} */

.col {
    background-color: rgb(238, 89, 158);
    min-height: 200px;
    width: 30%;
    margin-bottom: 40px;

}

/* Tablet View */
@media (max-width: 768px){
    /* h1 {
        color: darkorange;
    } */
.col {
    width: 45%;
}

}

/* Mobile View */
@media (max-width: 400px) {
    /* h1 {
        color: black;
    } */
    .col {
        width: 100%;
    }
}

